body {
    background-color: #ffce45;
}
.loading {
    display: flex;
    position: absolute;
    align-items: center;
    flex-direction: row;
    left: 40%;
    top: 10%;
    font-family: 'Poppins';
}