.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -3%;
}

.title {
    font-size: 100px;
}

.pokeImg {
    background-color: white;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(.2,.42,1,1.11);
}

.pokeImg:hover{
    background-color: #ff1a1a;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
}

.pokeImg:focus{
    outline: hidden;
}
