.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.pokegif {
    min-width: 100px;
}

.loading {
    display: flex;
    position: absolute;
    align-items: center;
    flex-direction: row;
    left: 40%;
    top: 10%;
}